<div class="menu d-none d-md-block">
    <div class="row">
        <div class="col-2 d-flex align-items-center px-4 py-3 fs-4 fw-bold color col-a04100">
            {{ Parametros.Titulo }}
        </div>
        <div class="col-5">
            <nav>
                <ul class="opciones-lista">
                    @for (opcion of Parametros.Opciones; track opcion.Destino) {
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="px-1 fs-6" [routerLink]="['/', opcion.Destino]" ariaCurrentWhenActive="page">{{
                            opcion.Descripcion }}</a>
                    </li>
                    }
                </ul>
            </nav>
        </div>
        <div class="col-5 d-flex align-items-center px-4 py-3">
            <div class="buscador position-relative me-4">
                <input type="text" class="form-control" id="exampleFormControlInput1"
                    placeholder="Busca tú repuesto, #SKU...">
                <i class="bi bi-search pe-2 color col-9a9999 position-absolute top-50 end-0 translate-middle-y"></i>
            </div>
            <div>
                <a class="resaltar-circulo mx-3 p-2 d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart3 fs-4 color col-a04100"></i>
                </a>
            </div>
            <div>
                <a class="resaltar-circulo mx-3 p-2 d-flex align-items-center justify-content-center">
                    <i class="bi bi-person fs-4 color col-a04100"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="menu-movil d-block d-md-none">
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-around align-items-center px-2 pt-2">
            <div>
                <a class="resaltar-circulo mx-3 p-2 d-flex align-items-center justify-content-center"
                    data-bs-toggle="modal" data-bs-target="#modalMenu">
                    <i class="bi bi-list fs-4 color col-a04100"></i>
                </a>
            </div>
            <div>
                <a class="resaltar-circulo mx-3 p-2 d-flex align-items-center justify-content-center">
                    <i class="bi bi-search fs-4 color col-a04100"></i>
                </a>
            </div>
            <div>
                <a class="resaltar-circulo mx-3 p-2 d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart3 fs-4 color col-a04100"></i>
                </a>
            </div>
            <div>
                <a class="resaltar-circulo mx-3 p-2 d-flex align-items-center justify-content-center">
                    <i class="bi bi-person fs-4 color col-a04100"></i>
                </a>
            </div>
        </div>
        <div class="text-center fw-bold color col-a04100">
            {{ Parametros.Titulo }}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalMenu" tabindex="-1" aria-labelledby="modalMenuLabel" aria-hidden="true">
    <div class="modal-menu modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <nav>
                <ul class="opciones-lista">
                    @for (opcion of Parametros.Opciones; track opcion.Destino) {
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="d-block px-4 py-3 fs-6" [routerLink]="['/', opcion.Destino]" data-bs-dismiss="modal" ariaCurrentWhenActive="page">{{
                            opcion.Descripcion }}</a>
                    </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>